:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: var(--very-dark-blue);
    color: white;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3 {
    line-height: 1.1;
  }

  /* styling */

article {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    width: 100vw;
    gap: 2rem;
}

.left-box {
    background-color: var(--dark-blue);
    width: 30%;
    padding: 5%;
    border-radius: 0.875rem;
    border-top-right-radius: 40%;
    margin-left: 3%;
}
.features {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.features > img {
    background-color: var(--very-dark-blue);
    padding: 5%;
    border-radius: 0.875rem;
}
.right-box {
    align-self: flex-end;
    width: 60%;
    background-color: var(--dark-blue);
    padding: 5%;
    border-radius: 0.875rem;
    height: 80%;
    position: relative;
}

.how-much-left {
    background-color: white;
    color: black;
    width: 20%;
    padding: 2%;
    border-radius: 0.4rem;
    border-bottom-right-radius: 0px;
    position: relative;
    top: -170%;
    left: 80%;
}
h1 span {
    color: var(--grayish-blue);
    font-size: 0.7rem;
    vertical-align: middle;
    text-transform: uppercase;
}
p{
    color: var(--pale-blue);
}

.range {
    width: 100%;
    height: 8px;
    position: relative;
    border-radius: 4px;
    background-color: var(--very-dark-blue);
    bottom: 50%;
}
.range::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 81.5%;
    height: 6px;
    border-radius: 4px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  }
  .my-circle {
    position: relative;
    width: 10px;
    background-color: white;
    height: 10px;
    left: 81%;
    bottom: 20%;
    border: 1px solid hsl(6, 100%, 80%);
    border-radius: 50%;
  }
  .my-triangle{
    position: absolute;
    width: 20%;
    height: 20%;
    background: linear-gradient(to top right, var(--dark-blue) 0%, var(--dark-blue) 50%, white 50%, white 100%);
    top: 100%;
    left: 80%;

}
.range span {
    margin-right: 75%;
}
.range p {
    margin-top: 2%;
}
.right-box p {
    position: relative;
    top: -40%;
}

.margin-top-1 {
    margin-top: 1.3rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-box {
        width: 70%;      
        margin-right: 13%; 
        display: flex;
        flex-direction: column;
        height: 60%;
        align-items: center;
        padding: 10%;
    }
    .left-box {
        width: 70%;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
    }
    main {
        padding-top: 10%;
    }
    .my-triangle{
        visibility: hidden;
    }
    .how-much-left{
        border-bottom-right-radius: 0.4rem;
        position: absolute;
        left: 24%;
        top: 80%;
        width: 50%;
        height: 40%;
        text-align: center;
        font-size: 2rem;
        padding: 2%;
    }
    .how-much-left h1 {
        vertical-align: middle;
        margin-bottom: 5%;
    }
    .range {
        width: 90%;
        position: absolute;
        bottom: 50%;
    }
    .range span {
        margin-right: 70%;
    }
    .range p {
        margin-top: 1rem;
        
    }
    .margin-top-1 {
        margin-top: 0;
    }
    .right-box p {
        position: absolute;
        top: 20%;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

        
}